<xf:if is="$server.isInsert()">
	<xf:title>{{ phrase('wsmad_add_server') }}</xf:title>
	<xf:else />
	<xf:title>{{ phrase('wsmad_edit_server:') }} {$server.name}</xf:title>
</xf:if>

<xf:js src="west/smad/desc_loader.js" />

<xf:form class="block" action="{{ link('wsmad-servers/save', $server) }}" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="name" value="{$server.name}" label="{{ phrase('name') }}" />
			
			<xf:textboxrow name="ip" value="{$server.ip}" label="{{ phrase('ip_address') }}" />
			
			<xf:numberboxrow name="port" value="{$server.port}" label="{{ phrase('port') }}" />
			
			<xf:selectrow name="adapter_id" 
						  value="{$server.adapter_id}" 
						  label="{{ phrase('wsmad_filesystem_adapter') }}" 
						  data-xf-init="wsmad-desc-loader"
						  data-desc-url="{{ link('wsmad-servers/get-options', $server) }}">
				<xf:foreach loop="$fsAdapters" value="$fsAdapter">
					<xf:option value="{$fsAdapter.adapter_id}">{$fsAdapter.getTitle()}</xf:option>
				</xf:foreach>
			</xf:selectrow>
			
			<div class="js-descTarget">{$fsAdapterOptionsHtml|raw}</div>
			
			<xf:submitrow icon="save" />
		</div>
	</div>
</xf:form>